.card{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 10px;
    padding: 10px;
}

.card:hover{
    transform: translateY(-25px);
    transition: all 0.1s ease-in-out;
}