<!-- <form action="" name="exForm" #testForm="ngForm">

    Username: <input type="text" name="username" id="usernam" ngModel required>
    <hr>
    Password: <input type="password" name="password" id="password" ngModel>
    <hr>
    TextArea: <textarea name="textarea" id="textarea" cols="30" rows="10" ngModel></textarea>
    <hr>
    Check BOX: <input type="checkbox" name="cb" id="cb" ngModel>
    <hr>
    Gender:
    M: <input type="radio" name="gender" id="M" value="M" ngModel>
    F: <input type="radio" name="gender" id="F" value="F" ngModel>
    <hr>
    Color: <input type="color" name="color" id="color" ngModel>
    <hr>
    url: <input type="url" name="url" id="url" ngModel>
    <hr>
    File: <input type="file" name="file" id="file" ngModel>
    <hr>
    Date: <input type="date" name="date" id="date" ngModel>
    <hr>
    DateTime: <input type="datetime" name="datetime" id="datetime" ngModel>
    <hr>
    DateTime1: <input type="datetime-local" name="datetime1" id="datetime1" ngModel>
    <hr>
    Number: <input type="number" name="number" min="0" max="100" id="number" ngModel>
    <hr>
    Range: <input type="range" name="range" id="range" min="0" max="1000" step="0.1" ngModel>
    <hr><hr>
</form>

<div class="testClass">
    {{testForm.value | json}}
    <br>
    {{testForm.form | json}}
</div> -->




<!-- Form validations -->

<!-- <form #form1="ngForm">
    <input type="text" name="username" id="username" ngModel pattern="[a-z]{5,}" required>
    <input type="number" name="age" id="age" ngModel minlength="1" maxlength="2" required>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Errors:
    {{form1.form.controls.username.errors | json}}

    <br><br>
    Form Validations:
    <br><br>
        valid: {{form1.form.controls.username.valid}}
        <br>
        invalid: {{form1.form.controls.username.invalid}}
        <br>
        <br>
        dirty: {{form1.form.controls.username.dirty}}
        <br>
        pristine: {{form1.form.controls.username.pristine}}
        <br>
        <br>
        touched: {{form1.form.controls.username.touched}}
        <br>
        untouched: {{form1.form.controls.username.untouched}}
</form> -->