<!-- <h1>Hello World</h1> -->

<!-- <div class="card">
    <app-comp1></app-comp1>
    <app-comp1></app-comp1>
    <app-comp1></app-comp1>
    <app-comp1></app-comp1>
</div> -->

<!-- <app-interpolation-binding></app-interpolation-binding> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<app-example-task></app-example-task>


<form action="">
    <div class="form-group">
        <i class="bi bi-mailbox2" style="font-size: 2rem; color: green"></i>
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="enter yout email">
    </div>
</form>